# Part 1:

## Importing Libraries and Dataset

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from sklearn import __version__ as sklearn_version
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale, LabelEncoder
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score, mean_squared_error, mean_absolute_error, confusion_matrix, f1_score, precision_score, recall_score, balanced_accuracy_score
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Capstone 2/data_clean.csv')
df.head()

,male,age,debt,married,bank_customer,education_level,ethnicity,years_employed,prior_default,employed,credit_score,drivers_license,citizen,zip_code,income,approval_status
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,00202,0,1
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,1
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,1
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,1
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             690 non-null    object
 1   age              690 non-null    float64
 2   debt             690 non-null    float64
 3   married          690 non-null    object
 4   bank_customer    690 non-null    object
 5   education_level  690 non-null    object
 6   ethnicity        690 non-null    object
 7   years_employed   690 non-null    float64
 8   prior_default    690 non-null    object
 9   employed         690 non-null    object
 10  credit_score     690 non-null    int64
 11  drivers_license  690 non-null    object
 12  citizen          690 non-null    object
 13  zip_code         690 non-null    object
 14  income           690 non-null    int64
 15  approval_status  690 non-null    int64
dtypes: float64(3), int64(3), object(10)
memory usage: 86.4+ KB

In [5]:
missing = pd.concat([df.sum().isnull(), 100 * df.isnull().mean()], axis=1)
missing.columns = ['count', '%']
missing.sort_values(by = '%')

                 count    %
male             False  0.0
age              False  0.0
debt             False  0.0
married          False  0.0
bank_customer    False  0.0
education_level  False  0.0
ethnicity        False  0.0
years_employed   False  0.0
prior_default    False  0.0
employed         False  0.0
credit_score     False  0.0
drivers_license  False  0.0
citizen          False  0.0
zip_code         False  0.0
income           False  0.0
approval_status  False  0.0

In [6]:
for col in df:
    print(f'{col}: {df[col].unique()}', '\n')

male: ['b' 'a']

age: [30.83       58.67       24.5        27.83       20.17       32.08
 33.17       22.92       54.42       42.5        22.08       29.92
 38.25       48.08       45.83       36.67       28.25       23.25
 21.83       19.17       25.         47.75       27.42       41.17
 15.83       47.         56.58       57.42       42.08       29.25
 42.         49.5        36.75       22.58       27.25       23.
 27.75       54.58       34.17       28.92       29.67       39.58
 56.42       54.33       41.         31.92       41.5        23.92
 25.75       26.         37.42       34.92       34.25       23.33
 23.17       44.33       35.17       43.25       56.75       31.67
 23.42       20.42       26.67       36.         25.5        19.42
 32.33       34.83       38.58       44.25       44.83       20.67
 34.08       21.67       21.5        49.58       27.67       39.83
 31.56817109 37.17       25.67       34.         49.         62.5
 31.42       52.33       28.75       28.58       22.5        28.5
 37.5        35.25       18.67       54.83       40.92       19.75
 29.17       24.58       33.75       25.42       37.75       52.5
 57.83       20.75       39.92       24.75       44.17       23.5
 47.67       22.75       34.42       28.42       67.75       47.42
 36.25       32.67       48.58       33.58       18.83       26.92
 31.25       56.5        43.         22.33       32.83       40.33
 30.5        52.83       46.67       58.33       37.33       23.08
 32.75       68.67       28.         44.         25.08       32.
 60.58       40.83       19.33       41.33       56.         49.83
 22.67       27.         26.08       18.42       21.25       57.08
 22.42       48.75       40.         40.58       28.67       33.08
 21.33       41.75       34.5        48.17       27.58       24.08
 24.83       36.33       35.42       71.58       39.5        39.33
 24.33       60.08       55.92       53.92       18.92       50.08
 65.42       17.58       18.08       19.67       25.17       33.5
 58.42       26.17       42.83       38.17       20.5        48.25
 28.33       18.75       18.5        45.         40.25       41.42
 17.83       18.17       20.         52.17       50.75       17.08
 18.33       59.67       18.         37.58       30.67       18.58
 16.25       21.17       17.67       16.5        29.5        21.75
 18.25       35.75       16.08       69.17       32.92       16.33
 22.17       57.58       15.92       31.75       19.         17.5
 33.67       30.17       33.25       25.25       34.75       47.33
 39.08       42.75       38.92       62.75       32.25       26.75
 63.33       30.75       16.         19.5        32.42       30.25
 26.83       16.92       24.42       39.42       23.58       21.42
 33.         26.33       26.25       28.17       20.83       43.17
 56.83       15.17       29.83       31.         51.92       69.5
 19.58       22.25       38.42       26.58       35.         29.42
 49.17       51.83       58.58       53.33       27.17       25.92
 30.58       17.25       27.33       36.5        29.75       52.42
 36.17       34.58       21.92       36.58       31.08       30.42
 21.08       17.42       39.17       26.5        17.33       23.75
 34.67       74.83       45.33       47.25       24.17       39.25
 39.         64.08       31.33       21.         13.75       46.
 20.25       60.92       30.         22.83       45.17       41.58
 55.75       25.33       31.83       33.92       24.92       80.25
 30.08       48.33       76.75       51.33       41.92       29.58
 32.17       51.42       42.17       43.08       59.5        65.17
 20.33       48.5        28.08       73.42       51.58       38.67
 46.08       20.08       42.25       16.17       47.83       22.
 38.33       25.58       21.58       36.08       38.75       35.58
 31.58       15.75       17.92       30.33       47.17       25.83
 50.25       36.42      ]

debt: [ 0.     4.46   0.5    1.54   5.625  4.     1.04  11.585  4.915  0.83
  1.835  6.     6.04  10.5    4.415  0.875  5.875  0.25   8.585 11.25
  1.     8.    14.5    6.5    0.585 13.    18.5    8.5   14.79   9.79
  7.585  5.125 10.75   1.5    1.585 11.75   9.415  9.17  15.     1.415
 13.915 28.     6.75   2.04   0.665  2.5    3.    11.625  4.5   12.25
 16.165  0.79   0.835  4.25   0.375 25.125  7.5    5.     7.     5.29
  1.165  9.75  19.     3.5    0.625  2.21  12.75  15.5    1.375  3.54
 11.     1.75  16.5   12.     2.25   0.75  12.5    1.25   1.125  7.04
 10.335  6.21   6.665  9.     5.5    0.54   2.75   9.5   13.5    3.75
 16.     0.29   1.665  7.54   0.46  10.    11.5    3.04   2.     0.08
  1.71   3.25   2.54  13.585  8.665  9.25   8.17   2.335 19.5    5.665
  4.625  0.205  0.96   4.04   5.04   3.165  7.625 10.04  10.25   2.125
  9.335  6.625  2.71   9.625 12.54   9.54   8.46  13.75  21.    10.125
 25.085  0.21  21.5   11.125 11.045  1.335  0.085  1.21   0.165  5.71
  5.415 12.625  0.58   0.415  2.415  0.335  3.125 12.125  2.875 13.665
 26.335 10.29   1.29  22.     0.125  1.085  4.085  4.71   6.165  4.585
 11.46  14.585  0.17   1.625  2.085  5.085  8.125  2.835  1.79   0.705
  2.165  2.29  18.125  3.085 11.665  4.125  1.08  13.335 11.835  4.79
  9.96   7.08  25.21   0.67   3.79  22.29   3.335  0.42   1.46   0.04
 12.33  12.335  0.915 14.    17.75  20.     5.25   4.165 10.915  4.75
 10.415  7.835  0.71   2.46   9.585  3.625  2.665  5.835 12.835 10.665
  7.25  10.21   3.29  10.085  3.375]

married: ['u' 'y' 'b' 'l']

bank_customer: ['g' 'p' 'b' 'gg']

education_level: ['w' 'q' 'm' 'r' 'cc' 'k' 'c' 'd' 'x' 'i' 'e' 'aa' 'ff' 'j' 'b']

ethnicity: ['v' 'h' 'bb' 'ff' 'j' 'z' 'b' 'o' 'dd' 'n']

years_employed: [ 1.25   3.04   1.5    3.75   1.71   2.5    6.5    0.04   3.96   3.165
  2.165  4.335  1.     5.     0.25   0.96   3.17   0.665  0.75   0.835
  7.875  3.085  0.5    5.165 15.     7.     5.04   7.96   7.585  0.415
  2.     1.835 14.415  4.5    5.335  8.625 28.5    2.625  0.125  6.04
  3.5    0.165  0.875  1.75   0.     7.415  0.085  5.75   6.     3.
  1.585  4.29   1.54   1.46   1.625 12.5   13.5   10.75   0.375  0.585
  0.455  4.     8.5    9.46   2.25  10.     0.795  1.375  1.29  11.5
  6.29  14.     0.335  1.21   7.375  7.5    3.25  13.     5.5    4.25
  0.625  5.085  2.75   2.375  8.     1.085  2.54   4.165  1.665 11.
  9.     1.335  1.415  1.96   2.585  5.125 15.5    0.71   5.665 18.
  5.25   8.665  2.29  20.     2.46  13.875  2.085  4.58   2.71   2.04
  0.29   4.75   0.46   0.21   0.54   3.335  2.335  1.165  2.415  2.79
  4.625  1.04   6.75   1.875 16.    12.75   5.375  2.125 17.5    3.125
  0.79   8.29 ]

prior_default: ['t' 'f']

employed: ['t' 'f']

credit_score: [ 1  6  0  5  7 10  3 17  2  9  8 15 11 12 40 23  4 20 67 14 16 13 19]

drivers_license: ['f' 't']

citizen: ['g' 's' 'p']

zip_code: ['00202' '00043' '00280' '00100' '00120' '00360' '00164' '00080' '00180'
 '00052' '00128' '00260' '00000' '00320' '00396' '00096' '00200' '00300'
 '00145' '00500' '00168' '00434' '00583' '00030' '00240' '00070' '00455'
 '00311' '00216' '00491' '00400' '00239' '00160' '00711' '00250' '00520'
 '00515' '00420' 'b' '00980' '00443' '00140' '00094' '00368' '00288'
 '00928' '00188' '00112' '00171' '00268' '00167' '00075' '00152' '00176'
 '00329' '00212' '00410' '00274' '00375' '00408' '00350' '00204' '00040'
 '00181' '00399' '00440' '00093' '00060' '00395' '00393' '00021' '00029'
 '00102' '00431' '00370' '00024' '00020' '00129' '00510' '00195' '00144'
 '00380' '00049' '00050' '00381' '00150' '00117' '00056' '00211' '00230'
 '00156' '00022' '00228' '00519' '00253' '00487' '00220' '00088' '00073'
 '00121' '00470' '00136' '00132' '00292' '00154' '00272' '00340' '00108'
 '00720' '00450' '00232' '00170' '01160' '00411' '00460' '00348' '00480'
 '00640' '00372' '00276' '00221' '00352' '00141' '00178' '00600' '00550'
 '02000' '00225' '00210' '00110' '00356' '00045' '00062' '00092' '00174'
 '00017' '00086' '00454' '00254' '00028' '00263' '00333' '00312' '00290'
 '00371' '00099' '00252' '00760' '00560' '00130' '00523' '00680' '00163'
 '00208' '00383' '00330' '00422' '00840' '00432' '00032' '00186' '00303'
 '00349' '00224' '00369' '00076' '00231' '00309' '00416' '00465' '00256']

income: [     0    560    824      3  31285   1349    314   1442    200   2690
    245   1208   1260     11  10000   5000   4000     35    713    551
    500    300    221   2283    100     15    284   1236   5800    730
    400  50000    456  15108   2954      2     20     27    225      1
     38      5    130    147    210  11202   1332     50    258    567
   1000   2510    809    610    150  51100    367    600    247    375
    278    827   2072    582   2300   3065   2200      6   1602   2184
   3376   2000   7544  10561    837  11177    639   2028   1065    540
    158  15000   3000   3257   1655   1430      7    790    396    678
   1187   6590    168   1270   1210    742   8851   7059   1704    857
   6700   2503   9800    196     14  26726  18027     99    444   1200
   2010     13    120     32    722     40    484    204     98   5552
    105   2803    126      4     21    173     10     25     42 100000
    113      8     44   2732    179     16   1062    251    228     67
     12    122   4208   1300    112   1110   1004    286   4500   1212
    195     87     17    184    140     18    146     22     55     70
     60   1058    769   5200     19    316    350   3552    687   1950
     53     41     33     80    351   2100    475    892   4607   2206
   5860     28   1391   2279    591    960    690    234    800    990
   2197     90    340    347    327   4071    109   1249    134   1344
    321    948   2079   2384    458   5298    162   1583     58     59
   1400   1465   8000   4700   1097   3290  13212   5777   5124     23
   4159    918    768    283    108      9     68    587    141    501
    160    390    154    117    246    237    364    537    394    750]

approval_status: [1 0]

The missing values were successfully handled in a prior notebook.

There is still a little but essential pre-processing to perform before we start building our machine learning model. The tasks include

1. Convert the non-numeric data into numeric. 
2. Split the data into test and training sets.
3. Scale the features to a uniform range.

We being by converting all of the non-numeric data into numeric. Many machine learning models require the data to be in stricly numeric format. The will also result in faster computations. We will use _label encoding_ to accomplish this task.

## Convert the non-numeric data into numeric.

In [7]:
# Instantiate LabelEncoder
le = LabelEncoder()

for col in df:
    if df[col].dtype == 'object':
        df[col] = le.fit_transform(df[col])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             690 non-null    int64
 1   age              690 non-null    float64
 2   debt             690 non-null    float64
 3   married          690 non-null    int64
 4   bank_customer    690 non-null    int64
 5   education_level  690 non-null    int64
 6   ethnicity        690 non-null    int64
 7   years_employed   690 non-null    float64
 8   prior_default    690 non-null    int64
 9   employed         690 non-null    int64
 10  credit_score     690 non-null    int64
 11  drivers_license  690 non-null    int64
 12  citizen          690 non-null    int64
 13  zip_code         690 non-null    int64
 14  income           690 non-null    int64
 15  approval_status  690 non-null    int64
dtypes: float64(3), int64(13)
memory usage: 86.4 KB

## Spliting the data into test and training sets

Now, we will split our data into train set and test set to prepare our data for two different phases of machine learning modeling: training and testing. 

Moreover, features like `drivers_license` and `zip_code` are not as important as the other features in the dataset for predicting credit card approvals. We should drop them to design our machine learning model with the best set of features.

In [9]:
# Drop the drivers_license and zip_code features
df = df.drop(['drivers_license', 'zip_code'], axis = 1)
df = df.values

# Segregate features and labels into seperate variables
X, y = df[:,0:13], df[:,-1]

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

Now, we are only left with one final preprocessing step of scaling before we can fit a machine learning model to the data.

## Scale the features to a uniform range

The data is now split into two separate sets — train and test sets respectively. We are only left with one final pre-processing step of scaling before we can fit a machine learning model to the data.

Now, let’s try to understand what these scaled values mean in the real world. Let’s use `credit_score` as an example. The credit score of a person is their credit worthiness based on their credit history. The higher this number, the more financially trustworthy a person is considered to be. So, a `credit_score` of 1 is the highest since we're rescaling all the values to the range of 0-1.

In [10]:
# Instantiate MinMaxScaler and use it to rescale X_train and X_test
scaler = MinMaxScaler(feature_range=(0, 1))
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
X_train

array([[0.00000000e+00, 7.41269841e-02, 3.51243592e-01, ...,
        5.97014925e-02, 0.00000000e+00, 5.40000000e-03],
       [1.00000000e+00, 5.28571429e-02, 3.22764382e-03, ...,
        0.00000000e+00, 0.00000000e+00, 7.22000000e-03],
       [1.00000000e+00, 1.38888889e-01, 4.36681223e-01, ...,
        0.00000000e+00, 0.00000000e+00, 4.00000000e-02],
       ...,
       [1.00000000e+00, 3.78253968e-01, 0.00000000e+00, ...,
        0.00000000e+00, 5.00000000e-01, 0.00000000e+00],
       [1.00000000e+00, 8.33333333e-02, 0.00000000e+00, ...,
        5.97014925e-02, 0.00000000e+00, 1.00000000e-05],
       [1.00000000e+00, 7.80952381e-02, 1.89861401e-01, ...,
        2.98507463e-02, 0.00000000e+00, 3.80000000e-04]])

In [12]:
X_test

array([[0.        , 0.28282811, 0.05695842, ..., 0.02985075, 0.        ,
        0.00105   ],
       [0.        , 0.51190476, 0.15188912, ..., 0.        , 0.        ,
        0.0096    ],
       [1.        , 0.09920635, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.25666667, 0.06967913, ..., 0.        , 0.        ,
        0.002     ],
       [0.        , 0.37428571, 0.0949307 , ..., 0.        , 0.        ,
        0.00246   ],
       [0.        , 0.14412698, 0.08695652, ..., 0.10447761, 0.        ,
        0.02384   ]])

# Building the Model

## Logistic Regression

In [13]:
# Instantiate logistic regression model
logreg = LogisticRegression(random_state=42)

# Fit the to the train
logreg.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [14]:
# Use logreg to predict instances from the test set and store it
y_pred = logreg.predict(X_test)

In [15]:
acc = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)


results = pd.DataFrame([['Logistic Regression', acc, f1, prec, rec]],
               columns = ['Model', 'Accuracy', 'F1 Score', 'Precision', 'Recall'])

results

                 Model  Accuracy  F1 Score  Precision    Recall
0  Logistic Regression   0.84058   0.84058   0.790909  0.896907

In [16]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[87 23]
 [10 87]]

### Cross-Validation

In [17]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator=logreg, X=X_train, y=y_train, cv=10)

print("Accuracy is {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation is {:.2f} %".format(accuracies.std()*100))

Accuracy is 86.13 %
Standard Deviation is 5.71 %

## Random Forest

In [18]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(random_state=42)
random_forest.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [19]:
y_pred = random_forest.predict(X_test)

acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

model_results = pd.DataFrame([['Random Forest', acc, prec, rec, f1]],
               columns = ['Model', 'Accuracy', 'Precision', 'Recall', 'F1 Score'])


results = results.append(model_results, ignore_index = True)
results

                 Model  Accuracy  F1 Score  Precision    Recall
0  Logistic Regression  0.840580  0.840580   0.790909  0.896907
1        Random Forest  0.855072  0.845361   0.845361  0.845361

In [20]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[95 15]
 [15 82]]

### Cross Validation

In [21]:
accuracies = cross_val_score(estimator=random_forest, X=X_train, y=y_train, cv=10)

print("Accuracy is {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation is {:.2f} %".format(accuracies.std()*100))

Accuracy is 86.32 %
Standard Deviation is 5.01 %

## XGBoost

In [22]:
from xgboost import XGBClassifier
classifier_xgb = XGBClassifier(random_state=42)
classifier_xgb.fit(X_train, y_train)

XGBClassifier(random_state=42)

In [23]:
y_pred = classifier_xgb.predict(X_test)

acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

model_results = pd.DataFrame([['XGBoost', acc, prec, rec, f1]],
               columns = ['Model', 'Accuracy', 'Precision', 'Recall', 'F1 Score'])


results = results.append(model_results, ignore_index = True)
results

                 Model  Accuracy  F1 Score  Precision    Recall
0  Logistic Regression  0.840580  0.840580   0.790909  0.896907
1        Random Forest  0.855072  0.845361   0.845361  0.845361
2              XGBoost  0.850242  0.844221   0.823529  0.865979

In [24]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[92 18]
 [13 84]]

### Cross Validation

In [25]:
accuracies = cross_val_score(estimator=classifier_xgb, X=X_train, y=y_train, cv=10)

print("Accuracy is {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation is {:.2f} %".format(accuracies.std()*100))

Accuracy is 85.50 %
Standard Deviation is 5.38 %

## KNN

In [26]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [27]:
y_pred = knn.predict(X_test)

acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

model_results = pd.DataFrame([['Knn', acc, prec, rec, f1]],
               columns = ['Model', 'Accuracy', 'Precision', 'Recall', 'F1 Score'])


results = results.append(model_results, ignore_index = True)
results

                 Model  Accuracy  F1 Score  Precision    Recall
0  Logistic Regression  0.840580  0.840580   0.790909  0.896907
1        Random Forest  0.855072  0.845361   0.845361  0.845361
2              XGBoost  0.850242  0.844221   0.823529  0.865979
3                  Knn  0.874396  0.864583   0.873684  0.855670

### Cross-Validation

In [28]:
accuracies = cross_val_score(estimator=knn, X=X_train, y=y_train, cv=10)

print("Accuracy is {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation is {:.2f} %".format(accuracies.std()*100))

Accuracy is 85.29 %
Standard Deviation is 4.96 %

The Knn model has performed the best in terms of accuracy and F1 Score. On Cross-Validation it performed about as well as the other models.

## Decision Trees

In [29]:
# Use the default and check performance
from sklearn import tree

# Declare a variable called entr_model and use tree.DecisionTreeClassifier. 
tree = tree.DecisionTreeClassifier(random_state = 42)

# Call fit() on entr_model
tree.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [30]:
# Call predict() on entr_model with X_test passed to it, and assign the result to a variable y_pred 
y_pred = tree.predict(X_test)

# Call Series on our y_pred variable with the following: pd.Series(y_pred)
# y_pred = pd.Series(y_pred)

In [31]:
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

model_results = pd.DataFrame([['Decision Tree', acc, prec, rec, f1]],
               columns = ['Model', 'Accuracy', 'Precision', 'Recall', 'F1 Score'])


results = results.append(model_results, ignore_index = True)
results

                 Model  Accuracy  F1 Score  Precision    Recall
0  Logistic Regression  0.840580  0.840580   0.790909  0.896907
1        Random Forest  0.855072  0.845361   0.845361  0.845361
2              XGBoost  0.850242  0.844221   0.823529  0.865979
3                  Knn  0.874396  0.864583   0.873684  0.855670
4        Decision Tree  0.869565  0.850829   0.916667  0.793814

### Cross-Validation

In [32]:
accuracies = cross_val_score(estimator=tree, X=X_train, y=y_train, cv=10)

print("Accuracy is {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation is {:.2f} %".format(accuracies.std()*100))

Accuracy is 83.65 %
Standard Deviation is 4.27 %

## Model Decision

In terms of cross-validation: Logistic Regression and Random forest perform the best in that they have the highest scores. In terms of the F1 Score KNN performed the best out of all the models. We elect to go with the Random Forest Model.

# Search to Find the Best Parameters (Random Forest)

In [33]:
from pprint import pprint

print('Parameters currently in use:\n')
pprint(random_forest.get_params())

Parameters currently in use:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

We will try to adjust the following set of hyperparameters:

* `n_estimators` = number of trees in the foreset
* `max_features` = max number of features considered for splitting a node
* `max_depth` = max number of levels in each decision tree
* `min_samples_split` = min number of data points placed in a node before the node is split
* `min_samples_leaf` = min number of data points allowed in a leaf node
* `bootstrap` = method for sampling data points (with or without replacement)

In [34]:
from sklearn.model_selection import GridSearchCV

# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}

rf = RandomForestClassifier()
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [36]:
grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 288 candidates, totalling 864 fits

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [80, 90, 100, 110],
                         'max_features': [2, 3], 'min_samples_leaf': [3, 4, 5],
                         'min_samples_split': [8, 10, 12],
                         'n_estimators': [100, 200, 300, 1000]},
             verbose=2)

In [37]:
grid_search.best_params_

{'bootstrap': True,
 'max_depth': 90,
 'max_features': 3,
 'min_samples_leaf': 5,
 'min_samples_split': 8,
 'n_estimators': 200}

In [38]:
grid_search.best_estimator_

RandomForestClassifier(max_depth=90, max_features=3, min_samples_leaf=5,
                       min_samples_split=8, n_estimators=200)

In [39]:
grid_search.best_score_

0.8778467908902692

In [40]:
clf = RandomForestClassifier(max_depth=90, max_features=3, min_samples_leaf=5,
                       min_samples_split=8, n_estimators=200)
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=90, max_features=3, min_samples_leaf=5,
                       min_samples_split=8, n_estimators=200)

In [41]:
y_pred = clf.predict(X_test)

acc = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)

model_results = pd.DataFrame([['Final Random Forest', acc, f1, prec, rec]],
                       columns=['Model', "Accuracy", 'F1 Score', 'Precision', 'Recall'])
results = results.append(model_results, ignore_index=True)
results

                 Model  Accuracy  F1 Score  Precision    Recall
0  Logistic Regression  0.840580  0.840580   0.790909  0.896907
1        Random Forest  0.855072  0.845361   0.845361  0.845361
2              XGBoost  0.850242  0.844221   0.823529  0.865979
3                  Knn  0.874396  0.864583   0.873684  0.855670
4        Decision Tree  0.869565  0.850829   0.916667  0.793814
5  Final Random Forest  0.859903  0.849741   0.854167  0.845361

In [42]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[96 14]
 [15 82]]